<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Job Scrapper</title>
  </head>
  <body>
    <main class="container">
      <h1>Job Scrapper</h1>
      <h4>Which job do you want to find?</h4>
      <form action="/search">
        <input type="text" name="keyword" placeholder="Write keyword please" />
        <button>Search</button>
      </form>
    </main>
    
  </body>

</html>